.acco { margin-left: 20px ; position: fixed ;  right: 40% ; top: 10% ; ; padding: 5px ; width: 400px ; 
border-bottom: groove 5px black ;
border-top: groove 5px #36BC58;
border-right: groove 5px ;
border-left: groove 5px black;
background-image: url("../img/aco3.jpg") ; background-repeat: no-repeat ; background-size: 500px ; 
}
.cont {margin-left: 60px ; margin-bottom: 10px}
.cont h1 {margin-left: 33px ; font-size: 18px ; text-transform: capitalize ;  text-decoration: underline }
.cont label {background-color: #36BC58 ; opacity: 0.90 ; padding: 2px; color: white ; font-weight: bold }



input {display: block ; margin-bottom: 5px ; padding: 5px; }
.mony {width: 50px }
button {margin: 10px ; width: 80px ; padding: 5px ; color: white ; background-color: #36BC58 ; border: groove 2px #96D1A5}
button:hover {cursor: pointer ; padding: 6px}

* {
              box-sizing: border-box;
              font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
              font-size: 16px;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-family: 'DroidKufi-Regular';
   }

.showing {background-color:  #36BC58  ; text-align: left ; padding: 5px ; margin-top: 5px }
.showing div {margin-top: 10px ; font-weight: bold ; color: white}
.showing h1 {color: white ; font-weight: bold ; text-align: center}